# ---------------------------------------
# Flutter / Dart
# ---------------------------------------
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub/
build/
flutter_export_environment.sh

# ---------------------------------------
# IDE / редакторы
# ---------------------------------------
.idea/
*.iml
.vscode/

# ---------------------------------------
# iOS / macOS
# ---------------------------------------
ios/Pods/
ios/Podfile.lock
macos/Pods/
macos/Podfile.lock
*.xcworkspace
xcuserdata/
DerivedData/

# ---------------------------------------
# Android
# ---------------------------------------
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
*.keystore

# ---------------------------------------
# Системные файлы и прочее
# ---------------------------------------
.DS_Store
*.log
*.swp
